/* Reset some basic styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

header {
  background-color: #007bff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  padding: 1rem 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: medium;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #eee;
  border-radius: 5px;
  color: #007bff ;
}

.container {
  margin-top: 80px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  color: #555;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: calc(100% - 1rem); /* Full width minus padding */
}

button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

button:hover {
  background-color: #0056b3;
}

#message {
  margin-top: 1rem;
  color: #007bff;
  text-align: center;
  font-size: 1rem;
}

.hidden {
  display: none;
}
